datasets/evaluate_local/
datasets/lfw/
datasets/celeb_a
.DS_Store
*.pyc
*.tmp
*.temp
*.log
temp/
tmp/
.vscode/
venv/
env/
myenv/
__pycache__/
src/global_features/weights/rcmalli_vggface_tf_notop_resnet50.h5
src/global_features/weights/rcmalli_vggface_tf_resnet50.h5
